build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
*.lo
Makefile
*.la
build-stamp
config.h
config.status
debian/files
debian/libjson-glib-dev.install
debian/libjson-glib-dev.substvars
debian/libjson-glib-dev/
debian/libjson-glib.install
debian/libjson-glib.postinst.debhelper
debian/libjson-glib.postrm.debhelper
debian/libjson-glib.substvars
debian/libjson-glib/
doc/reference/version.xml
json-glib-1.0.pc
json-glib.pc
json-glib/.deps/
json-glib/.libs/
json-glib/json-enum-types.c
json-glib/json-enum-types.h
json-glib/json-marshal.c
json-glib/json-marshal.h
json-glib/json-version.h
json-glib/stamp-enum-types
json-glib/stamp-marshal
json-glib/tests/.deps/
json-glib/tests/.libs/
json-glib/tests/array-test
json-glib/tests/node-test
json-glib/tests/object-test
libtool
stamp-h1
tests/.deps/
tests/.libs/
tests/test-generator
tests/test-parser
tests/test-serialize-boxed
tests/test-serialize-complex
tests/test-serialize-full
tests/test-serialize-simple
